@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
}

header {
  display: flex;
  top: 0;
  position: sticky;
  margin-bottom: 3rem;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: black;
}
nav a {
  margin: 0 2rem 0 2rem;
}
nav a[href^="mailto:"] {
  color: blueviolet;
}

h1,
h3 {
  text-transform: uppercase;
  text-align: center;
  color: blueviolet;
  margin: 5rem 0 3rem 0;
}

.container {
  z-index: -1;
}
.card1 {
  width: 504px;
  height: 504px;
  perspective: 2000px;
  margin: auto;
}
@media screen and (max-width: 393px) {
  .card1 {
    width: 100px;
  }
  .flip-card-reverso {
    display: flex;
  }
}

.sub-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-frente,
.flip-card-reverso {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
}
.flip-card-frente {
  margin-top: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.flip-card-reverso {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 32px;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.card1:hover .sub-card {
  transform: rotateY(-180deg);
}
.animacion {
  margin: auto;
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@media screen and (max-width: 578px) {
  .animacion {
    animation: none;
    font-size: 1em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.h1Container {
  display: flex;
}
@media screen and (max-width: 721px) {
  .h1Container {
    flex-wrap: wrap;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  height: 50%;
  z-index: 0;
}
.skills-container div {
  background-color: transparent;
  margin: 2rem;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .skills-container {
    flex-direction: column;
  }
}

.skills-image {
  width: 50%;
  height: auto;
}
#proyectId {
  margin-top: 15rem;
}
.proyects {
  margin: 0 2rem 0 2rem;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 10rem;
  z-index: 0;
}

@media screen and (max-width: 1593px) {
  .proyects {
    display: flex;
    flex-wrap: wrap;
  }
}
.card {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  margin: 2rem;
  padding: 3rem;
}
.card .btn-container button {
  cursor: pointer;
  margin-top: 3rem;
  background-color: blueviolet;

  border-radius: 10px;
  padding: 8px;
  transition: 0.5s;
}
.card button:hover {
  padding: 15px;
  text-transform: uppercase;
}
.card p {
  margin-top: 5rem;
}
.card a {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  color: white;
  z-index: 0;
}
footer button {
  background-color: blueviolet;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
footer ul {
  margin-right: 2rem;
}
footer li {
  list-style: none;
}
footer ul li a[href^="mailto:"] {
  color: blueviolet;
}
@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
  }
  .btn-footer,
  .social-footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
}
